<h3 id="xhvu61ai4" class="text-cvt-bg-color">Badge</h3>
    <div class="cvt-form-group">
        <input type="search" id="input-zuo9itt3m" autocomplete="off" data-type="badge">
        <label for="input-zuo9itt3m">Nom</label>
    </div>
    <hr>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-t90k01vec"  data-type="badge">Light</label>
    <hr>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-n9d3avw23"  data-type="badge">Bordure</label>
    <hr>
    <button class="cvt-btn btn-h-light t-dark sz-btn-sm sh large-100 horiz-between" data-cvt-toggle="collapse" data-cvt-target="#collapseContent-p4fel9y9r-0" data-cvt-rotated="false">
        Taille <span class="cvt-chevron"></span>
    </button>
    <div class="cvt-collapse" id="collapseContent-p4fel9y9r-0">
        <div class="card card-body">
            <label class="radio-cvt"><input type="radio" name="sizeBadge" value="-xs" data-type="badge"> Extra Small</label>
            <label class="radio-cvt"><input type="radio" name="sizeBadge" value="" data-type="badge"checked> Small</label>
            <label class="radio-cvt"><input type="radio" name="sizeBadge" value="-lg" data-type="badge"> Large</label>
            <label class="radio-cvt"><input type="radio" name="sizeBadge" value="-xl" data-type="badge"> Extra Large</label>
        </div>
    </div>
    <button class="cvt-btn btn-h-light t-dark sz-btn-sm sh large-100 horiz-between" data-cvt-toggle="collapse" data-cvt-target="#collapseContent-p4fel9y9r-1" data-cvt-rotated="false">
        Style <span class="cvt-chevron"></span>
    </button>
    <div class="cvt-collapse" id="collapseContent-p4fel9y9r-1">
        <div class="card card-body">
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-primary" data-type="badge" value="primary" checked/>Primary</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-secondary" data-type="badge" value="secondary" />Secondary</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-success" data-type="badge" value="success" />Success</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-danger" data-type="badge" value="danger" /> Danger</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-warning" data-type="badge" value="warning" />Warning</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-info" data-type="badge" value="info" /> Info</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-light" data-type="badge" value="light" /> Light</label>
            <label class="radio-cvt"><input type="radio" name="badgeColor" id="radio-badge-dark" data-type="badge" value="dark" /> Dark</label>
        </div>
    </div>
    <hr>

<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="badge">Générer</button>
