<label class="checkbox-cvt"><input type="checkbox" id="checkbox-b8zonwxpi"
        data-cvt-checkbox-check-collapse="checkbox-check-b8zonwxpi" data-type="button">Button</label>
<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-check-b8zonwxpi" data-cvt-checkbox-multiple="true"
    style="display: none;">
    <div data-cvt-checkbox-group="checkbox-check-nugwde2vb" data-cvt-checkbox-multiple="false">
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-nugwde2vb-2" data-type="button">Outline</label>
    </div>
    <hr>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-52skcrpn6"
            data-cvt-checkbox-check-collapse="checkbox-check-52skcrpn6" data-type="button">Taille</label>
    <div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-check-52skcrpn6"
        data-cvt-checkbox-multiple="false" style="display: none;">
        <label><input type="radio" name="taille" id="checkbox-ryx3dh0q6" data-type="button">Petit</label>
        <label><input type="radio" name="taille" id="checkbox-iu8l4b6ui" data-type="button">Large</label>
    </div>

    <hr>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-yz48mu4ps"
            data-cvt-checkbox-check-collapse="checkbox-check-yz48mu4ps">Style</label>
    <div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-check-yz48mu4ps"
        data-cvt-checkbox-multiple="false" style="display: none;">
        <label><input type="radio" name="couleur" id="radio-primary" data-type="button" value="primary" />
            Primary</label>
        <label><input type="radio" name="couleur" id="radio-secondary" data-type="button" value="secondary" />
            Secondary</label>
        <label><input type="radio" name="couleur" id="radio-success" data-type="button" value="success" />
            Success</label>
        <label><input type="radio" name="couleur" id="radio-danger" data-type="button" value="danger" /> Danger</label>
        <label><input type="radio" name="couleur" id="radio-warning" data-type="button" value="warning" />
            Warning</label>
        <label><input type="radio" name="couleur" id="radio-info" data-type="button" value="info" /> Info</label>
        <label><input type="radio" name="couleur" id="radio-light" data-type="button" value="light" /> Light</label>
        <label><input type="radio" name="couleur" id="radio-dark" data-type="button" value="dark" /> Dark</label>
        <hr>
    </div>
</div>
<hr>
<div id="buttonContainer">
    <button class="btn custom-button cvt-relief cvt-warning" data-type="cvt-button">Relief</button>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-pt711drxn" data-type="cvt-button">Outline</label>
</div>