



<select id="selectTypeButton" class="form-select">
    <option value="simple">Simple</option>
    <option value="outline">Outline</option>
</select>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-ryx3dh0q6">Petit</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-iu8l4b6ui">Large</label>
<hr>
<div id="buttonContainer">
    <button type="button" class="btn btn-primary" data-type="button">Primary</button>
    <hr>
    <button type="button" class="btn btn-secondary" data-type="button">Secondary</button>
    <hr>
    <button type="button" class="btn btn-success" data-type="button">Success</button>
    <hr>
    <button type="button" class="btn btn-danger" data-type="button">Danger</button>
    <hr>
    <button type="button" class="btn btn-warning" data-type="button">Warning</button>
    <hr>
    <button type="button" class="btn btn-info" data-type="button">Info</button>
    <hr>
    <button type="button" class="btn btn-light" data-type="button">Light</button>
    <hr>
    <button type="button" class="btn btn-dark" data-type="button">Dark</button>
    <hr>
    <button type="button" class="btn btn-link" data-type="button">Link</button>
    <hr>
    <button class="btn custom-button cvt-relief cvt-warning" data-type="button">Relief</button>
</div>

