<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showHeader">Header</label>
</div>
<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showTitle">Titre</label>
</div>
<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showImage">Image</label>
</div>
<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showBodyText">Texte du corps</label>
</div>
<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showButton">Bouton</label>
</div>
<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showFooter">Pied de carte</label>
</div>
<div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showShadow">Effet d'ombre</label>
</div>
<hr>
<div class="number-input-container" id="number-input-71r30gb2d" data-number-input-id="number-input-71r30gb2d">
    <button type="button" class="btn custom-button cvt-relief" data-change="-1">
        <i class="bi bi-arrow-down-circle"></i>
    </button>
    <label>Taille : <span class="number-value-display">10</span></label>
    <input type="number" class="number-input" id="cardCount" min="1" max="20" value="3" style="display: none;">
    <button type="button" class="btn custom-button cvt-relief" data-change="1">
        <i class="bi bi-arrow-up-circle"></i>
    </button>
</div>
<label for="cardCount">Combien ?</label>
<hr>
<button class="btn custom-button cvt-relief cvt-warning" data-type="card">Générer</button>