<h3 id="ia1log05v" class="text-cvt-bg-color">Carte</h3>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-tr21xswbc" data-cvt-checkbox-check-collapse="checkbox-check-tr21xswbc" data-type="card">Cartes</label>
<div data-cvt-checkbox-group="checkbox-check-tr21xswbc" data-cvt-checkbox-multiple="true" style="display: none;">
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showHeader" data-type="card">Header</label>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showTitle" data-type="card">Titre</label>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showImage" data-type="card">Image</label>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showBodyText" data-type="card">Texte du corps</label>
        <div class="horiz-between">
            <label class="radio-cvt"><input type="radio" name="contentCard" value="start" data-type="card" checked> Gauche</label>
            <label class="radio-cvt"><input type="radio" name="contentCard" value="center" data-type="card"> Centrer</label>
            <label class="radio-cvt"><input type="radio" name="contentCard" value="end" data-type="card"> Droite</label>
        </div>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showButton" data-type="card">Bouton</label>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showFooter" data-type="card">Pied de carte</label>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-showShadow" data-type="card">Effet d'ombre</label>
    <hr>
    <div class="number-input-container" id="number-input-71r30gb2d" data-number-input-id="number-input-71r30gb2d">
        <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="-1" data-type="card">
            <i class="bi bi-arrow-down-circle"></i>
        </button>
        <label>Combien ? : <span class="number-value-display">10</span></label>
        <input type="number" class="number-input" id="cardCount" min="1" max="20" value="1" style="display: none;">
        <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="1" data-type="card">
            <i class="bi bi-arrow-up-circle"></i>
        </button>
    </div>
</div>

<hr>
<h3 id="v7s8qv62g" class="text-cvt-bg-color">Grille et colonne</h3>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-gezehv1cv" data-cvt-checkbox-check-collapse="checkbox-check-gezehv1cv" data-type="grid">Générer Grille</label>
<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-check-gezehv1cv" data-cvt-checkbox-multiple="true" style="display: none;">
    <div>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-useContainer" data-type="grid" checked> Container</label>
    </div>
    <div>
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-useRow" data-type="grid" checked> Row</label>
    </div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-kgq7tnp4w"  data-type="grid">Centrer</label>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-5fj65a36z"  data-type="grid">Between</label>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-2dh39quyo"  data-type="grid">Aligner(align-item-center)</label>
    <div class="cvt-form-group">
        <input type="search" id="colConfig" value="6" autocomplete="off" data-type="grid">
        <label for="colConfig">Colonnes (ex: 6-6-12-4-8...) :</label>
    </div>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-h7al54lyf"  data-type="grid">Adaptation mobile</label>
    <div>
        <!-- Start select select-rwzzzix6r -->
    <div class="cvt-select">
        <select id="colSizeSelect" data-cvt-input-select="false" data-cvt-label-border="Taille">
            <option disabled></option>
            <option value="col-">Défaut</option>
            <option value="col-sm-">Small (sm)</option>
            <option value="col-md-">Medium (md)</option>
            <option value="col-lg-">Large (lg)</option>
            <option value="col-xl-">Extra Large (xl)</option>
        </select>
    </div>
    <!-- End select select-rwzzzix6r -->
    <button class="cvt-btn btn-n-primary" data-type="grid">Simple</button>
    </div>
</div>
