<select id="select-chartType" class="form-select">
    <option value="line">Ligne</option>
    <option value="bar">Barre</option>
    <option value="horizontalBar">Barre Horizontale</option>
    <option value="candlestick">Bougies</option>
    <option value="scatter">Dispersion</option>
    <option value="pie">Camembert</option>
</select>
<hr>
<label>Nombre de séries(données)</label>
<input type="number" id="seriesCount" value="1" min="1">
<hr>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" id="generate-chart" data-type="chart">Générer graphiques</button>