<p>Nombre d'éléments à glisser</p>
<input type="number" id="dragElementsCount" value="3" min="1">
<p>Nombre de carte</p>
<input type="number" id="dragContainerCount" value="3" min="1">
<label><input type="checkbox" id="enableSwapCheckbox"> Echange d'éléments entre conteneurs</label>
<button class="btn custom-button custom-relief" data-type="drag-drop">Générer</button>
<br>
<div id="drag-and-drop-container1-1zm5pp6ov" class="cvt-container-drag" data-enable-swap="false">
    <div id="draggable-1-1zm5pp6ov" class="cvt-draggable-element" draggable="true">Item 1</div>
    <div id="draggable-2-1zm5pp6ov" class="cvt-draggable-element" draggable="true">Item 2</div>
    <div id="draggable-3-1zm5pp6ov" class="cvt-draggable-element" draggable="true">Item 3</div>
</div>
<div id="drag-and-drop-container2-1zm5pp6ov" class="cvt-container-drag" data-enable-swap="false">
</div>
<div id="drag-and-drop-container3-1zm5pp6ov" class="cvt-container-drag" data-enable-swap="false">
</div>