

<label class="checkbox-cvt"><input type="checkbox" id="autoCloseCheckbox" checked>Auto-close</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="includeDefaultLinksCheckbox" checked>Inclure des liens</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-a2azhe3q5">Inclure data-value</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-2pwh3ggjq" >Inclure onclick (elementId)</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-4pnloidkd" >Mobile menu</label>
<div class="cvt-form-group">
    <input type="search" id="searchInputTable-gji6hjwaw" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
    <label for="searchInputTable-gji6hjwaw">Nom des liens</label>
</div>
<hr>
<button class="btn custom-button custom-relief" data-type="dropdown">Générer Dropdown</button>

