<br>
<label class="checkbox-cvt">
  <input type="checkbox" id="checkbox-3mshoosxmt9" data-cvt-checkbox-collapse="3mshsxoomt9">Label
</label>
<div class="cvt-form-group" data-cvt-input-group="3mshsxoomt9" style="display: none;">
  <input type="search" id="input-3mshoomt9" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
  <label for="input-3mshoomt9">Nom label</label>
</div>

<label class="checkbox-cvt">
  <input type="checkbox" id="checkbox-ogqqa4w2u" data-cvt-checkbox-collapse="yd1x8bio3">Placeholder
</label>
<div class="cvt-form-group" data-cvt-input-group="yd1x8bio3" style="display: none;">
  <input type="search" id="input-q4dd3led2" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
  <label for="input-q4dd3led2">Nom placeholder</label>
</div>

<label class="checkbox-cvt">
  <input type="checkbox" id="checkbox-e6ysu3392" data-cvt-checkbox-collapse="e6ysu3392" >Options
</label>
<div class="cvt-form-group" data-cvt-input-group="e6ysu3392" style="display: none;">
  <input type="search" id="input-top2szt9f" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
  <label for="input-top2szt9f">Nom des menus</label>
</div>

<label class="checkbox-cvt"><input type="checkbox" id="checkbox-bupcolb8o" checked>Insérer champ de recherche</label>

<button class="btn custom-button cvt-relief cvt-warning" data-type="select">Générer Select menu</button>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="autoCloseCheckbox" checked>Auto-close</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="includeDefaultLinksCheckbox" checked>Inclure des liens</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-a2azhe3q5">Inclure data-value</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-2pwh3ggjq">Inclure onclick (elementId)</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-4pnloidkd">Mobile menu</label>
<div class="cvt-form-group">
  <input type="search" id="searchInputTable-gji6hjwaw" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
  <label for="searchInputTable-gji6hjwaw">Nom des liens</label>
</div>
<hr>
<button class="btn custom-button cvt-relief cvt-warning" data-type="dropdown">Générer Dropdown</button>