

<div class="cvt-select mt-1">
    <select>
        <option value="0" disabled selected>Actif</option>
        <option value="1">EURUSD</option>
        <option value="1">EURCAD</option>
        <option value="2">USDJPY</option>
        <option value="3">USDCHF</option>
        <option value="4">GBPUSD</option>
        <option value="4">GBPJPY</option>
        <option value="5">AUDCHF</option>
        <option value="6">AUDUSD</option>
    </select>
</div>
  <br>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-ogqqa4w2u" checked>Placeholder</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-e6ysu3392" checked>Options</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-hhpb72uk4" >Disable</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-t4qescvn2" >Options avec séparations</label>
<div class="cvt-form-group">
    <input type="search" id="input-top2szt9f" autocomplete="off">
    <label for="input-top2szt9f">Nom des options</label>
  </div>
  <button class="btn custom-button cvt-relief cvt-warning" data-type="select">Générer Select menu</button>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="autoCloseCheckbox" checked>Auto-close</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="includeDefaultLinksCheckbox" checked>Inclure des liens</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-a2azhe3q5">Inclure data-value</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-2pwh3ggjq" >Inclure onclick (elementId)</label>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-4pnloidkd" >Mobile menu</label>
<div class="cvt-form-group">
    <input type="search" id="searchInputTable-gji6hjwaw" aria-describedby="inputGroup-sizing-sm" autocomplete="off">
    <label for="searchInputTable-gji6hjwaw">Nom des liens</label>
</div>
<hr>
<button class="btn custom-button cvt-relief cvt-warning" data-type="dropdown">Générer Dropdown</button>

