<div class="container">
    <div class="row">
        <div class="cvt-dropdown" id="dropdown-pnxyas615">
            <button class="btn cvt-dropdown-toggle" type="button">
                Générer Dropdown
            </button>
            <div class="cvt-dropdown-menu" id="dropdown-menu-pnxyas615" data-cvt-auto-close="true">
                <a class="cvt-dropdown-item" href="#">Action</a>
                <a class="cvt-dropdown-item" href="#">Another action</a>
                <a class="cvt-dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        <!-- Mode de Génération -->
        <div class="mode-selector">
            <label><input type="radio" name="genMode" value="single" checked> Simple</label>
            <label><input type="radio" name="genMode" value="multiple"> Multiple</label>
        </div>
        <div class="form-group">
            <label for="prefixInput">Préfixe CVT :</label>
            <input type="text" id="prefixInput" placeholder="Entrez le préfixe">
        </div>

        <div id="codeContainer">
            <button id="resetEditor" class="btn custom-button custom-relief">Réinitialiser</button>
            <button class="btn custom-button custom-relief" id="copyButton"><i class="bi bi-copy"></i></button>
            <div id="editor"></div>
        </div>
        <div id="preview" class="preview-generate-code"></div>

    </div>
</div>