<label class="checkbox-cvt"><input type="checkbox" id="checkbox-d6burr624" data-cvt-checkbox-collapse="checkbox"
        data-type="checkbox">Checkbox</label>
<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox" data-cvt-checkbox-multiple="false" style="display: none;">
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-m1jfililx" data-type="checkbox">Input</label>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-2tpytaeyd"
            data-cvt-checkbox-check-collapse="checkbox-check-5m12adjzu" data-type="checkbox">Checkbox</label>
    <div data-cvt-checkbox-group="checkbox-check-5m12adjzu" data-cvt-checkbox-multiple="true" style="display: none;">
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-check-5m12adjzu-1" data-type="checkbox" checked>Option multiple</label>
    </div>
</div>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-kc8q2l9j1"
        data-cvt-checkbox-check-collapse="checkbox-kc8q2l9j1" data-type="toggle-switch">Interrupteur</label>

<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-kc8q2l9j1" style="display: none;">
    <label class="checkbox-cvt"><input type="checkbox" id="create-toggle-kc8q2l9j1-2" data-type="toggle-switch">Icône</label>
    <label class="checkbox-cvt"><input type="checkbox" id="create-toggle-kc8q2l9j1-3" data-type="toggle-switch">Texte</label>
</div>
<hr>
<button class="btn custom-button cvt-relief cvt-warning" data-type="input-number">Générer number</button>
<hr>
<button class="btn custom-button cvt-relief cvt-warning" data-type="input">Générer input</button>