

<h4 id="x43370o6e" class="text-cvt-bg-color">Checkbox/interrupteur</h4>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-d6burr624" data-cvt-checkbox-collapse="checkbox"
        data-type="checkbox">Checkbox</label>
<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox" data-cvt-checkbox-multiple="false" style="display: none;">
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-m1jfililx" data-type="checkbox">Input</label>
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-2tpytaeyd"
            data-cvt-checkbox-check-collapse="checkbox-check-5m12adjzu" data-type="checkbox">Checkbox</label>
    <div data-cvt-checkbox-group="checkbox-check-5m12adjzu" data-cvt-checkbox-multiple="true" style="display: none;">
        <label class="checkbox-cvt"><input type="checkbox" id="checkbox-check-5m12adjzu-1" data-type="checkbox" checked>Option multiple</label>
    </div>
</div>
<div class="cvt-form-group">
    <input type="search" id="input-07qzte9o7" autocomplete="off" data-type="checkbox">
    <label for="input-07qzte9o7">Nom</label>
</div>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="checkbox">Générer</button>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-kc8q2l9j1" data-cvt-checkbox-check-collapse="checkbox-kc8q2l9j1" data-type="toggle-switch">Interrupteur</label>
<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-kc8q2l9j1" style="display: none;">
    <label class="checkbox-cvt"><input type="checkbox" id="create-toggle-kc8q2l9j1-2" data-type="toggle-switch">Icône</label>
    <label class="checkbox-cvt"><input type="checkbox" id="create-toggle-kc8q2l9j1-3" data-type="toggle-switch">Texte</label>
</div>
<hr>
<h4 id="nu1ga1wkk" class="text-cvt-bg-color">Radio</h4>
<div class="number-input-container" id="number-input-rs35tcm39" data-number-input-id="number-input-rs35tcm39">
    <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="-1"> <i class="bi bi-arrow-down-circle"></i></button>
    <label><span class="number-value-display">3</span></label>
    <input type="number" class="number-input" id="radioCount" min="1" max="20" value="3" style="display: none;">
    <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="1">
        <i class="bi bi-arrow-up-circle"></i>
    </button>
</div>
<div class="cvt-form-group">
    <input type="search" id="input-v4ux67ccz" autocomplete="off">
    <label for="input-v4ux67ccz">name=""</label>
</div>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="radio">Générer radio</button>
<hr>
<h4 id="4z8n3n7ml" class="text-cvt-bg-color">Nombre</h4>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="input-number">Générer number</button>
<hr>
<h4 id="1lhgog2i5" class="text-cvt-bg-color">Champ de texte</h4>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="input">Générer input</button>
<hr>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="textArea">Générer texte area</button>
<hr>
<h4 id="ykmxdveq6" class="text-cvt-bg-color">Séléction en groupe</h4>
<div class="cvt-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="cvt-btn-group-check" name="btnradio" id="cvt-btnradio1" autocomplete="off" checked>
    <label class="cvt-btn-group" for="cvt-btnradio1">Radio 1</label>
  
    <input type="radio" class="cvt-btn-group-check" name="btnradio" id="cvt-btnradio2" autocomplete="off">
    <label class="cvt-btn-group" for="cvt-btnradio2">Radio 2</label>
  
    <input type="radio" class="cvt-btn-group-check" name="btnradio" id="cvt-btnradio3" autocomplete="off">
    <label class="cvt-btn-group" for="cvt-btnradio3">Radio 3</label>
  </div>
  <br>
  <button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="radio-group">Générer group Sélection unique</button>
  <hr>
  <div class="cvt-group" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="cvt-btn-group-check" id="cvt-checkbox1" autocomplete="off">
    <label class="cvt-btn-group" for="cvt-checkbox1">Checkbox 1</label>
  
    <input type="checkbox" class="cvt-btn-group-check" id="cvt-checkbox2" autocomplete="off">
    <label class="cvt-btn-group" for="cvt-checkbox2">Checkbox 2</label>
  
    <input type="checkbox" class="cvt-btn-group-check" id="cvt-checkbox3" autocomplete="off">
    <label class="cvt-btn-group" for="cvt-checkbox3">Checkbox 3</label>
  </div>
  <br>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="checkbox-group">Générer group Sélection multiple</button>
  
  