<button class="btn custom-button custom-relief" data-type="input">Générer input</button>
<hr>
<button class="btn custom-button custom-relief" data-type="checkbox">Générer radio</button>

<hr>
<label>Interrupteur</label>
<select id="toggleType" class="form-select">
    <option value="toggle-simple">Interrupteur simple</option>
    <option value="toggle-icon">Icône</option>
    <option value="toggle-text">Texte</option>
    <option value="toggle-icon-text">Icône + Texte</option>
</select>
<hr>
<button class="btn custom-button custom-relief" data-type="toggle-switch">Générer interrupteur</button>