<h3 id="mmlddzc2b" class="text-cvt-bg-color">Fenêtres pop-up</h3>
<br>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-0cg1k960g" data-cvt-checkbox-check-collapse="checkbox-check-0cg1k960g" data-type="modal">Modal</label>
<div class="collapse-cvt-container" data-cvt-checkbox-group="checkbox-check-0cg1k960g" data-cvt-checkbox-multiple="false" style="display: none;">
    <label class="checkbox-cvt"><input type="checkbox" id="checkbox-29pm1r3v8"  data-type="config-panel">Panneau de configuration</label>
</div>
<hr>














