
<h3 id="zbacbia2n" class="text-cvt-bg-color">Tableaux</h3>
<p>Nombre de colonne</p>
<div class="number-input-container" id="number-input-8g0x40ukc" data-number-input-id="number-input-8g0x40ukc">
    <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="-1">
        <i class="bi bi-arrow-down-circle"></i>
    </button>
    <label><span class="number-value-display">10</span></label>
    <input type="number" id="columnsTableCount" class="number-input"  value="3" min="1" max="50" style="display: none;">
    <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="1">
        <i class="bi bi-arrow-up-circle"></i>
    </button>
</div>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-6c8aqohwj">Cellules éditables</label>
<hr>
<label class="checkbox-cvt"><input type="checkbox" id="checkbox-g3sf2q5fu">Cellule cliquable</label>
<hr>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="table">Générer Table</button>

