
<h3 id="l1lg5gd8o" class="text-cvt-bg-color">Naviguation</h3>
<label>Nombre de tabs</label>
<div class="number-input-container" id="number-input-fthp26s9a" data-number-input-id="number-input-fthp26s9a">
    <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="-1" data-type="tabs-nav">
        <i class="bi bi-arrow-down-circle"></i>
    </button>
    <label><span class="number-value-display">3</span></label>
    <input type="number" class="number-input" id="tabsCount" min="1" max="20" value="3" style="display: none;">
    <button type="button" class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-change="1" data-type="tabs-nav">
        <i class="bi bi-arrow-up-circle"></i>
    </button>
</div>
<hr>
<button class="cvt-btn btn-h-warning t-dark sz-btn-sm sh" data-type="tabs-nav">Générer Tabs</button>

