
<h3 class="text-cvt-bg-color" data-type="title-color">Titre couleur</h3>
<h1 class="" data-type="title">Titre Bootstrap</h1>
<h2 class="" data-type="subtitle">Sous-titre Bootstrap</h2>
<h3 class="" data-type="subsubtitle">Sous-sous-titre Bootstrap</h3>
<h4 class="" data-type="subsubsubtitle">Sous-sous-sous-titre Bootstrap</h4>
<h5 class="" data-type="subsubsubsubtitle">Sous-sous-sous-sous-titre Bootstrap</h5>
<h6 class="" data-type="subsubsubsubsubtitle">Sous-sous-sous-sous-sous-titre Bootstrap</h6>