.ctr {
    width: 100%;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.ctr-fd {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}
.rw {
    display: grid;
    grid-gap: 0.9375rem;
    grid-template-columns: repeat(12, 1fr);
}
.col {
    padding: 0.625rem;
    background-color: #e9ecef;
    border-radius: 0.3125rem;
}
@media (min-width: 0) {
    .col-xs-1 {
        grid-column: span 1;
   }
    .col-xs-2 {
        grid-column: span 2;
   }
    .col-xs-3 {
        grid-column: span 3;
   }
    .col-xs-4 {
        grid-column: span 4;
   }
    .col-xs-5 {
        grid-column: span 5;
   }
    .col-xs-6 {
        grid-column: span 6;
   }
    .col-xs-7 {
        grid-column: span 7;
   }
    .col-xs-8 {
        grid-column: span 8;
   }
    .col-xs-9 {
        grid-column: span 9;
   }
    .col-xs-10 {
        grid-column: span 10;
   }
    .col-xs-11 {
        grid-column: span 11;
   }
    .col-xs-12 {
        grid-column: span 12;
   }
}
@media (min-width: 576px) {
    .col-sm-1 {
        grid-column: span 1;
   }
    .col-sm-2 {
        grid-column: span 2;
   }
    .col-sm-3 {
        grid-column: span 3;
   }
    .col-sm-4 {
        grid-column: span 4;
   }
    .col-sm-5 {
        grid-column: span 5;
   }
    .col-sm-6 {
        grid-column: span 6;
   }
    .col-sm-7 {
        grid-column: span 7;
   }
    .col-sm-8 {
        grid-column: span 8;
   }
    .col-sm-9 {
        grid-column: span 9;
   }
    .col-sm-10 {
        grid-column: span 10;
   }
    .col-sm-11 {
        grid-column: span 11;
   }
    .col-sm-12 {
        grid-column: span 12;
   }
}
@media (min-width: 768px) {
    .col-md-1 {
        grid-column: span 1;
   }
    .col-md-2 {
        grid-column: span 2;
   }
    .col-md-3 {
        grid-column: span 3;
   }
    .col-md-4 {
        grid-column: span 4;
   }
    .col-md-5 {
        grid-column: span 5;
   }
    .col-md-6 {
        grid-column: span 6;
   }
    .col-md-7 {
        grid-column: span 7;
   }
    .col-md-8 {
        grid-column: span 8;
   }
    .col-md-9 {
        grid-column: span 9;
   }
    .col-md-10 {
        grid-column: span 10;
   }
    .col-md-11 {
        grid-column: span 11;
   }
    .col-md-12 {
        grid-column: span 12;
   }
}
@media (min-width: 992px) {
    .col-lg-1 {
        grid-column: span 1;
   }
    .col-lg-2 {
        grid-column: span 2;
   }
    .col-lg-3 {
        grid-column: span 3;
   }
    .col-lg-4 {
        grid-column: span 4;
   }
    .col-lg-5 {
        grid-column: span 5;
   }
    .col-lg-6 {
        grid-column: span 6;
   }
    .col-lg-7 {
        grid-column: span 7;
   }
    .col-lg-8 {
        grid-column: span 8;
   }
    .col-lg-9 {
        grid-column: span 9;
   }
    .col-lg-10 {
        grid-column: span 10;
   }
    .col-lg-11 {
        grid-column: span 11;
   }
    .col-lg-12 {
        grid-column: span 12;
   }
}
@media (min-width: 1200px) {
    .col-xl-1 {
        grid-column: span 1;
   }
    .col-xl-2 {
        grid-column: span 2;
   }
    .col-xl-3 {
        grid-column: span 3;
   }
    .col-xl-4 {
        grid-column: span 4;
   }
    .col-xl-5 {
        grid-column: span 5;
   }
    .col-xl-6 {
        grid-column: span 6;
   }
    .col-xl-7 {
        grid-column: span 7;
   }
    .col-xl-8 {
        grid-column: span 8;
   }
    .col-xl-9 {
        grid-column: span 9;
   }
    .col-xl-10 {
        grid-column: span 10;
   }
    .col-xl-11 {
        grid-column: span 11;
   }
    .col-xl-12 {
        grid-column: span 12;
   }
}
@media (min-width: 1400px) {
    .col-xxl-1 {
        grid-column: span 1;
   }
    .col-xxl-2 {
        grid-column: span 2;
   }
    .col-xxl-3 {
        grid-column: span 3;
   }
    .col-xxl-4 {
        grid-column: span 4;
   }
    .col-xxl-5 {
        grid-column: span 5;
   }
    .col-xxl-6 {
        grid-column: span 6;
   }
    .col-xxl-7 {
        grid-column: span 7;
   }
    .col-xxl-8 {
        grid-column: span 8;
   }
    .col-xxl-9 {
        grid-column: span 9;
   }
    .col-xxl-10 {
        grid-column: span 10;
   }
    .col-xxl-11 {
        grid-column: span 11;
   }
    .col-xxl-12 {
        grid-column: span 12;
   }
}
@media (min-width: 1600px) {
    .col-xxxl-1 {
        grid-column: span 1;
   }
    .col-xxxl-2 {
        grid-column: span 2;
   }
    .col-xxxl-3 {
        grid-column: span 3;
   }
    .col-xxxl-4 {
        grid-column: span 4;
   }
    .col-xxxl-5 {
        grid-column: span 5;
   }
    .col-xxxl-6 {
        grid-column: span 6;
   }
    .col-xxxl-7 {
        grid-column: span 7;
   }
    .col-xxxl-8 {
        grid-column: span 8;
   }
    .col-xxxl-9 {
        grid-column: span 9;
   }
    .col-xxxl-10 {
        grid-column: span 10;
   }
    .col-xxxl-11 {
        grid-column: span 11;
   }
    .col-xxxl-12 {
        grid-column: span 12;
   }
}
.m-0 {
    margin: 0rem !important;
}
.mt-0, .my-0 {
    margin-top: 0rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0rem !important;
}
.ml-0, .mx-0 {
    margin-left: 0rem !important;
}
.mr-0, .mx-0 {
    margin-right: 0rem !important;
}
.p-0 {
    padding: 0rem !important;
}
.pt-0, .py-0 {
    padding-top: 0rem !important;
}
.pb-0, .py-0 {
    padding-bottom: 0rem !important;
}
.pl-0, .px-0 {
    padding-left: 0rem !important;
}
.pr-0, .px-0 {
    padding-right: 0rem !important;
}
.m-1 {
    margin: 1rem !important;
}
.mt-1, .my-1 {
    margin-top: 1rem !important;
}
.mb-1, .my-1 {
    margin-bottom: 1rem !important;
}
.ml-1, .mx-1 {
    margin-left: 1rem !important;
}
.mr-1, .mx-1 {
    margin-right: 1rem !important;
}
.p-1 {
    padding: 1rem !important;
}
.pt-1, .py-1 {
    padding-top: 1rem !important;
}
.pb-1, .py-1 {
    padding-bottom: 1rem !important;
}
.pl-1, .px-1 {
    padding-left: 1rem !important;
}
.pr-1, .px-1 {
    padding-right: 1rem !important;
}
.m-2 {
    margin: 2rem !important;
}
.mt-2, .my-2 {
    margin-top: 2rem !important;
}
.mb-2, .my-2 {
    margin-bottom: 2rem !important;
}
.ml-2, .mx-2 {
    margin-left: 2rem !important;
}
.mr-2, .mx-2 {
    margin-right: 2rem !important;
}
.p-2 {
    padding: 2rem !important;
}
.pt-2, .py-2 {
    padding-top: 2rem !important;
}
.pb-2, .py-2 {
    padding-bottom: 2rem !important;
}
.pl-2, .px-2 {
    padding-left: 2rem !important;
}
.pr-2, .px-2 {
    padding-right: 2rem !important;
}
.m-3 {
    margin: 3rem !important;
}
.mt-3, .my-3 {
    margin-top: 3rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 3rem !important;
}
.ml-3, .mx-3 {
    margin-left: 3rem !important;
}
.mr-3, .mx-3 {
    margin-right: 3rem !important;
}
.p-3 {
    padding: 3rem !important;
}
.pt-3, .py-3 {
    padding-top: 3rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 3rem !important;
}
.pl-3, .px-3 {
    padding-left: 3rem !important;
}
.pr-3, .px-3 {
    padding-right: 3rem !important;
}
.m-4 {
    margin: 4rem !important;
}
.mt-4, .my-4 {
    margin-top: 4rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 4rem !important;
}
.ml-4, .mx-4 {
    margin-left: 4rem !important;
}
.mr-4, .mx-4 {
    margin-right: 4rem !important;
}
.p-4 {
    padding: 4rem !important;
}
.pt-4, .py-4 {
    padding-top: 4rem !important;
}
.pb-4, .py-4 {
    padding-bottom: 4rem !important;
}
.pl-4, .px-4 {
    padding-left: 4rem !important;
}
.pr-4, .px-4 {
    padding-right: 4rem !important;
}
.m-5 {
    margin: 5rem !important;
}
.mt-5, .my-5 {
    margin-top: 5rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 5rem !important;
}
.ml-5, .mx-5 {
    margin-left: 5rem !important;
}
.mr-5, .mx-5 {
    margin-right: 5rem !important;
}
.p-5 {
    padding: 5rem !important;
}
.pt-5, .py-5 {
    padding-top: 5rem !important;
}
.pb-5, .py-5 {
    padding-bottom: 5rem !important;
}
.pl-5, .px-5 {
    padding-left: 5rem !important;
}
.pr-5, .px-5 {
    padding-right: 5rem !important;
}

.text-horiz-center { text-align: center !important; }
.horiz-start { display: flex !important; justify-content: flex-start !important; }
.horiz-end { display: flex !important; justify-content: flex-end !important; }
.horiz-center { display: flex !important; justify-content: center !important; }
.horiz-between { display: flex !important; justify-content: space-between !important; }
.horiz-f-start { display: flex !important; align-items: flex-start !important; }
.horiz-f-end { display: flex !important; align-items: flex-end !important; }
.verti-center { display: flex !important; align-items: center !important; }

/* Largeur */
.large-25 { width: 25% !important; }
.large-50 { width: 50% !important; }
.large-75 { width: 75% !important; }
.large-100 { width: 100% !important; }

  
.dn {
    display: none !important;
}
.db {
    display: block !important;
}

.fs-xs {
    font-size: 0.75rem;
}
.fs-sm {
    font-size: 0.875rem;
}
.fs-md {
    font-size: 1rem;
}
.fs-lg {
    font-size: 1.25rem;
}
.fs-xl {
    font-size: 1.5rem;
}
.fw-light {
    font-weight: 300;
}
.fw-normal {
    font-weight: 400;
}
.fw-bold {
    font-weight: 700;
}
