#editor {
    height: 400px;
    width: 100%;
}

#codeContainer {
    position: relative;
}



.preview-generate-code {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
    resize: vertical;
}