html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.secondary-background {
  background-color: var(--secondary-background-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.text-cvt-bg-color {
  background-color: var(--secondary-background-color);
  color: var(--afd-color-blue-light);
  border-radius: var(--radius-1);
  padding: 5px;
}


.col-border-right {
  border-right: 1px solid var(--cvt-color-grey-light);
}