html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-content-cvt {
  overflow-y: auto;
  height: 100%;
}


.secondary-background {
  background-color: var(--secondary-background-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.text-cvt-bg-color {
  background-color: var(--secondary-background-color);
  color: var(--afd-color-blue-light);
  border-radius: var(--radius-1);
  padding: 5px;
}

.col-border-right {
  border-right: 1px solid var(--cvt-color-grey-light);
  overflow-y: auto;
  height: 100%; 
}

.sh { box-shadow: 0 4px 6px var(--shadow-rgba); }