.cvt-offcanvas-toggler {
    color: var(--text-color);
    background-color: transparent;   
    border: none;  
    border-radius: var(--radius-1);
  }
  
.cvt-offcanvas-toggler:hover {
    background-color: var(--cvt-color-grey-light) !important;
    color:var(--text-color);
    border: none;  
    border-radius: var(--cvt-radius-1);
  }

.cvt-offcanvas {
    position: fixed;
    background-color: var(--background-color);
    border-top: 2px solid var(--cvt-color-grey-light);
    color: var(--text-color);
    transition: transform 0.3s ease-in-out;
    z-index: 1050; 
    overflow-y: auto;
}

.cvt-offcanvas-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    max-height: 50%;
    transform: translateY(100%);
    border-top: 1px solid var(--cvt-color-grey-light);

}
.cvt-offcanvas-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    max-height: 50%;
    transform: translateY(-100%);
    border-bottom: 1px solid var(--cvt-color-grey-light);
    z-index: 90000;
}
.cvt-offcanvas-left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    transform: translateX(-100%);
    border-right: 1px solid var(--cvt-color-grey-light);
    z-index: 90000;
}
.cvt-offcanvas-right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    transform: translateX(100%);
    border-left: 1px solid var(--cvt-color-grey-light);
    z-index: 90000;
}

.cvt-offcanvas.active,
.cvt-offcanvas-top.active,
.cvt-offcanvas-bottom.active  {
    transform: translateY(0);
}

.cvt-offcanvas-left.active,
.cvt-offcanvas-right.active {
    transform: translateX(0);
}

.cvt-offcanvas-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative; 
}

.cvt-offcanvas-header::after {
    content: '';
    position: absolute;
    left: 1.5%;
    bottom: 0;
    width: 97%;
    height: 1px;
    background-color: var(--cvt-color-grey-light);
}
.cvt-offcanvas-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--cvt-color-grey-light);
    text-align: center;
    color: var(--text-color);
}


.cvt-offcanvas-title {
    color: var(--text-color);
    font-size: var(--cvt-fs-4);
    font-weight: bold;
}

.cvt-offcanvas-body {
    overflow-y: auto;
    padding: 20px 20px;
}

.cvt-overlay {
    display: none;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
}

.cvt-close-offcanvas { 
    text-decoration: none;
    font-size: 1.25rem;
    position: absolute;
    top: 10px;
    right: 10px;
}